html body {
  margin: 0;
  background-color: #f5f5f5;
}
html body h1,
html body h2,
html body a,
html body p,
html body span {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: #2f2f2f;
}
html body h1 {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}
html body h2 {
  font-size: 20px;
}
header {
  margin: 30px;
}
header img {
  height: 60px;
  float: left;
}
header h2 {
  float: left;
  padding-left: 30px;
}
section {
  position: relative;
}
section div.center-width {
  width: 400px;
  height: 80vh;
  margin: auto;
}
section div.center-width div.center-height {
  position: absolute;
  top: calc(50% - 60px);
}
section h2 {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
}
